.SupplierTable {
    table-layout:fixed;
    width: 100%;
}
.SupplierList {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px !important;
}

.SubText {
    font-size: 16px;
    font-weight: normal;
}

.DashBox {
    background-color: lightgrey
}

.SidebarSubtext{
    font-size: 12px;
    min-width: 190px;
}

